<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is home page</h1>
    <h2>
        <%= 1+2 %>
    </h2>
    <h2>
        <%= 1*2 %>
    </h2>
    <h2>
        <%= 1-2 %>
    </h2>
    <h2>
        <%= "arvind kumar anand" .toUpperCase(); %>
    </h2>
    <h2>
        <%= ["arvind","kumar", "anand" ][2]; %>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos molestias blanditiis quis consequuntur
        omnis sapiente temporibus voluptatum dicta, sed corporis. Placeat est sapiente possimus laboriosam debitis,
        sequi cupiditate ratione commodi?
    </p>
    <button>Click me</button>
</body>

</html>